*.pbf
*.png
!assets/cover.png
!assets/new_block.png
*.svg
*.save
*.geojson
src/experiments/*.html
src/__pycache__/
src/experiments/cache/
src/experiments/cache/*
src/venv/
src/venv/*
src/outputs/
src/outputs/*
src/cache/
src/cache/*
/.venv
/cache
/src/superblocks/__pycache__
/src/superblocks/__pycache__
/src/superblocks/visualization/__pycache__
/outputs
__pycache__/
*.pyc
*.pyo
.pytest_cache/
