#geopandas
#matplotlib
#networkx
#numpy
#osmnx
#pandas
#pyrosm
#tqdm
#tensorboardX

folium==0.14.0
geopandas==0.13.0
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
shapely==2.0.1
pyrosm==0.6.2
protobuf==3.19.6
packaging==23.0
torch==2.1.0
rich==13.7.0
hdbscan
alphashape
